.MonthPicker {
    width: 200px;
    margin: 10px 5px;
}

.MonthPicker ul {
    list-style-type: none;
    padding: 0;
}

.DatePicker {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: left;
}