.PanelWrapper {
    width: 200px;
}

.StatsWrapper {
    width: 300px;
    margin: 10px 5px;
}

.AsideWrapper {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background: green;
}

.MainWrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background: pink;
}