.NavLink {
    margin: 10px 25px;
    color: #61dafb;
}

.ActiveLink,
.NavLink:hover {
    text-decoration: underline;
    color: #7caab6;
}

.Disabled {
    color: #0e1e22;
}

.NavigationNavElement ul li:hover {
    cursor: pointer;
}

@media only screen and (max-device-width: 600px),
only screen and (max-width: 600px) {
    .HideLogoThumbMobile {
        display: none;
    }
}