.Container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: pink;
}

.AppContainer {
    background: #969696;
    display: grid;
    grid-template-rows: 40px 790px 30px;
    grid-template-columns: 300px auto;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* @media only screen and (max-device-width: 600px),
only screen and (max-width: 600px) {
    .AppContainer {
        grid-template-columns: auto;
    }
} */