.Container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: pink;
}

.AppContainer {
    background: yellow;
    display: grid;
    grid-template-rows: 50px 721px 50px;
    grid-template-columns: 0.5fr 1fr;
}