.Container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: pink;
}

.AppContainer {
    background: pink;
    display: grid;
    grid-template-rows: 50px 721px 50px;
    grid-template-columns: 260px auto;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media only screen and (max-device-width: 600px),
only screen and (max-width: 600px) {
    .AppContainer {
        grid-template-rows: 45px 630px 45px;
        /* grid-template-columns: 0px auto; */
        /* Statistics and month options will be displayed differently from mobile view */
    }
}